:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

*{
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
}


a{
    text-decoration-line: none;
}
body{
    background-color: var(--body-bg-color);
    padding: 40px;
    display: flex;
    gap: 3rem;
}

aside{
    gap: 2.5rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

aside .container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    background-color: var(--bg-cards);
    width: 350px;
    height: auto;
    box-shadow:  2px 3px rgba(0, 0, 0, 0.258);
}

aside .infos{
    align-items: flex-start;
    padding-left: 43px;
    gap: 20px;
}

span{
    font-weight: lighter;
    font-size: 15px;
}

.profile img{
    width: 40%;
    border-radius: 100%;
    border: 3px solid #00FF00;
}


.info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.info img{
    width: 1.5rem;
    stroke: white;
}

main{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    line-height: 0;
    background-color: var(--bg-cards);
    box-shadow:  2px 3px rgba(0, 0, 0, 0.258);
    
}
.projects{
    display: flex;
    gap: 30px;
}

main .card{
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    flex: 1;
    background-color: var(--bg-cards);
    box-shadow:  2px 3px rgba(0, 0, 0, 0.258);
}

main .card h3{
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
}

.card footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    height: 100%;
    gap: 10px;
}

.seilakkk{
    display: flex;
    gap: 18px;
}

.seilakkk span{
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.linguagem{
    display: flex;
    align-items: center;
}

